
html { 
  background: url("http://upload.wikimedia.org/wikipedia/en/thumb/e/ee/Seattle_Skyline_from_Rizal_Park.jpg/1600px-Seattle_Skyline_from_Rizal_Park.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*.nav {
	height: 3em;
	background-color: #1f3136;
	right: 0;
	left: 0;
	top: 0; 
} */

.mini img {
	
} 

.box {
	width:311px;
	float: left;
	background-color: rgba(0, 0, 0, 0.180392);
	color: white;
	margin-left: 3em;
	padding: .75em;
	font-family: tahoma; 
	/*display: inline-block;*/
	margin-top: 2.5em;
	text-align: center;
	border-radius: 1em;
}

.square {
	height: 50px;
	width: 50px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	float: left;
}
.rectangle {
	height: 50px;
	width: 100px;
	margin: 0;
	display: inline-block;
	float: left;
}

 i {
 border-radius: 10px;
 padding: .09em;
 }

* {
   border: 1px solid red !important;
}
