
html { 
  background: url("http://upload.wikimedia.org/wikipedia/en/thumb/e/ee/Seattle_Skyline_from_Rizal_Park.jpg/1600px-Seattle_Skyline_from_Rizal_Park.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0em;
}

img {
	max-width: 15em;
	max-height: 15em;
}

 .h1 {
	font-size: 50px;
	font-family: sans-serif;
} 

.box {
	width:311px;
	height: auto;
	float: left;
	background-color: rgba(0, 0, 0, 0.180392);
	color: white;
	margin-left: auto;
	padding: .75em;
	font-family: sans-serif; 
	font-size: .85em;
	line-height: 1.65em;
	margin-top: 3.5em;
	margin-left: 3em;
	text-align: center;
	border-radius: 1em;
	margin-bottom: 15em;
}

 a {
 	color: white;
 }
a:hover {
	color:#383838;
}

.footer {
	width: 100%;
	background-color: white;
	clear: both;
	right: 0;
	left: 0;
	bottom: 0;
	padding-bottom: 4em;
	padding-top: 2em;
	text-align: center;
	box-shadow: 0em -3em 3em rgba(0, 0, 0, 0.30);
	border-top-left-radius: .25em;
	border-top-right-radius: .25em;
}

.mini {
	height: auto;
	width:  15em;
	border: .125em, solid, black;
	display: inline-block;
	margin: 1.25em;
	z-index: 1;
}
img:hover {
	color:rgba(0, 0, 0, 0.180392);
}

	

}

 * {
   border: 1px solid red !important;
}
